.hero{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(10, 33, 83, 0.488),rgba(10, 13, 64, 0.645)),url(../../assets/fast_car.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 43px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}