.fastframe-home-aboutus{
    position: absolute;
        top: 0;
        left: 0;
        width: 200px; /* Adjust width and height as needed */
        /* height: 100px; */
        z-index: 1; /* Ensure the image appears above other content if needed */
        margin-top: 8px;
        margin-left: 20px;
   }
   


.containerAboutUs {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
  }
  
  .headingAboutUs {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: aliceblue;
    
    
  }
  
  .textAboutUs {
    font-size: 19px;
    line-height: 1.5;
    color: rgba(215, 224, 232, 0.922);
  }
  