.vertical-card-app-TV {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: aliceblue;
    
    /* below added to make the vertical cards align centre */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.vertical-card-app-title-TV{
    padding-top: 14px;
    padding-bottom: 40px;
}

.vertical-card-TV {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    min-width: 75vw;
    flex-grow: 0;
    border-radius: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  /* .title-verticalcard-TV h2{
        color: #fff; 
         z-index: 2;
  } */

  .title-verticalcard-TV {
    flex: 2;
    margin-right: 10px;
    max-width: fit-content;
    /* background-color: rgba(196, 208, 219, 0.574); */

    /* background-color: rgba(192, 197, 201, 0.753); */
    
    color: rgb(238, 241, 230);
    padding: 24px 80px 24px 80px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }
  
  .title-verticalcard-TV h2 {
    margin: 0;
  }
  
  .video-thumbnail-TV {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    /* opacity: 0.7; */
  }
  
  .status-verticalcard-TV {
    flex: 1;
    margin-right: 10px;
    font-weight: bolder;
    max-width: fit-content;
    background-color: rgba(196, 208, 219, 0.574);
    padding: 24px 80px 24px 80px;
    border-radius: 12px;
  }
  
  .uploaded {
    color: rgb(204, 229, 66);
  }
  
  .processing {
    color: rgb(245, 158, 78);
  }
  
  .play-btn-verticalcard-TV,
  .download-btn-verticalcard-TV {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 24px 80px 24px 80px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 12px;
    font-weight: bolder;
    font-size: medium;
  }
  
  .play-btn-verticalcard-TV:hover,
  .download-btn-verticalcard-TV:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
  }
  