.downpage-home{
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: fit-content;

}

.downpage-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

#result{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    width: fit-content;
}
